@import url('https://fonts.googleapis.com/css?family=Shrikhand&display=swap');
/* GALLERY ANIMATION */

#coords {
    display: none;
}

.gallery-elem {
    transform: skew(-2deg);
    animation: skewOut 1s 1 forwards;
}

.gallery-elem:hover {
    animation: skewIn 1s 1 forwards;
}

@keyframes skewIn {
    from {
        transform: skew(-2deg)
    }

    to {
        transform: skew(-4deg);
    }
}

@keyframes skewOut {
    from {
        transform: skew(-4deg);
    }

    to {
        transform: skew(-2deg);
    }
}


.gallery-elem-p2 {
    animation: skewOut-p2 1s 1 forwards;
}

.gallery-elem-p2:hover {
    animation: skewIn-p2 1s 1 forwards;
}

@keyframes skewIn-p2 {
    from {
        transform: skew(-2deg);
    }

    to {
        transform: skew(4deg);
    }
}

@keyframes skewOut-p2 {
    from {
        transform: skew(4deg);
    }

    to {
        transform: skew(-2deg);
    }
}

/* GALLERY */

#gallery {
    position: absolute;
    float: left;
    margin-top: -80vh;
    width: 300rem;
    height: 40rem;
    margin-left: calc(50% - 150rem);
    transition: all 2s ease-in-out;
}

.toTheLeft {
    transform: translateX(-81rem);
}

.toTheRight {
    transform: translateX(81rem);
}

.gallery-img {
    width: 25rem;
    height: 40rem;
    display: inline-block;
    margin-left: 56rem;
}

#swipe {
    margin-top: -200px;
    padding: 60px 0px;
}

#swipe p {
    font-family: 'Shrikhand', cursive;
    font-size: 3rem;
}

p i {
    padding: 0 5px;
}

.firstval:hover {
    animation: transfC 0.5s forwards;
    cursor: pointer;
}

.secondval:hover {
    animation: transfC 0.5s forwards;
    cursor: pointer;
}

@keyframes transfC {
    to {
        color: d14f2d;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }
}